.image-top{
  position: relative;
  width: 1500px;
  height: 510.5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
.image-center{
  position: relative;
  width: 1500px;
  height: 492px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
.pc,
.atrapa,
.piernas,
.rose,
.car{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
 

  
}
.logo-kindle{
  position:absolute;
  width: 386.867px;
  height: 50px;
  left: 40px;
  top:25px;
  cursor: pointer;

}
.lectura{
  left: 40px;
  top: 60px;
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: white;
}
.disfruta{
  left: 40px;
  top: 120px;
  position: absolute;
  font-size: 22px;
  color: white;
}
.renovar{
  position: absolute;
  height: 68.5px;
  width: 360.867px;
  left: 40px;
  top: 200px;
  cursor: pointer;
}
.probar{
  position: absolute;
  height: 50px;
  width: 350.75px;
  left: 40px;
  top: 300px;
  background-color: rgb(247, 202, 0);
  border-radius: 8px;
  border-color: rgb(247, 202, 0);
  cursor: pointer;
}
.probar-text{
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}
.condiciones{
  position: absolute;
  left: 40px;
  bottom: 50px;
  height: 80px;
  width: 750px;
}
.imagen-condiciones{
  font-size: 14px;
  color: white;
  text-align: left;
}
.mes{
  position: absolute;
  left:3px;
  font-weight: bold;
  padding-bottom: 4px;

}
.renovar-text{
  text-align: left;
  left: 4px;
  font-weight: bold;
  padding-top: 5px;
}
.oferta-imagen{
  position: absolute;

  left:60px;
  color: rgb(196, 85, 0);
  font-weight: bold;

}
.precio-real{
  color: rgb(196, 85, 0);
  position: absolute;
  right: 0px;
  font-weight: bold;

}
.precio-tachado{
  position: absolute;
  text-decoration:line-through;
  font-weight: bold;
  right:50px

}


 
.image-cent{
  position: relative;
  width: 1500px;
  height: 1013px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.image-sky{
  position: relative;
  width: 1500px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.image-bottom{
  position: relative;
  width: 1500px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
